*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow: hidden;
}
// Variables
$white:#fff;
$black:#000;
body{
  h2{
    position: relative;
    top: 2rem;
    left: 2rem;
    font-size: 3rem;
  }
}
.head{
  display: grid;
  place-items: center;
  height: 100vh;
}
.main{
  height: 40rem;
  width: 25rem;
  background: #333;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}
#box{
  height: 4rem;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 5rem;
  text-align: center;
}
input[type='range']{
  -webkit-appearance: none;
  height: 1rem;
  width: 80%;
  border-radius: 5rem;
  outline: none;
}
input[type='range']::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.main #red{
  background: linear-gradient(90deg, #000,red);
}
.main #green{
  background: linear-gradient(90deg, #000,green);
}
.main #blue{
  background: linear-gradient(90deg, #000,blue);
}